<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Date Format:</mat-label>
    <mat-select [(value)]="this.format">
      <mat-option *ngFor="let f of formats" [value]="f">{{f}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Date Separator:</mat-label>
    <mat-select [(value)]="this.separator">
      <mat-option *ngFor="let s of separators" [value]="s">{{s}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    Example:
    <blockquote>{{formatDate(format, separator)}}</blockquote>
  </div>
</div>
<mat-dialog-actions>
  <button mat-raised-button class="half-width" color="primary" [mat-dialog-close]="undefined">CANCEL</button>
  <button mat-raised-button class="half-width" color="primary" [mat-dialog-close]="fullDateFormat(format, separator)">
    DOWNLOAD
  </button>
</mat-dialog-actions>
