<div mat-dialog-content>
  <p>
    By enabling this feature, you take full responsibility of using the correct tax %, according to your Country's
    taxation laws.
  </p>
  <p>
    The calculator will therefore assume that the amount you want to withdraw is <b>after taxes</b>.
  </p>
  <p class="example">
    Example: if you want to withdraw 700{{data.symbol}}/{{uppercasePeriod()}}, and your
    Country's taxes amount to 30%, then the calculator will internally ensure your gross income will be,
    every {{lowercasePeriod()}}, about 1000{{data.symbol}}.
  </p>
  <p>
    <mat-checkbox [(ngModel)]="doNotShowAgain">do not show this dialog again</mat-checkbox>
  </p>
</div>
<mat-dialog-actions>
  <button mat-raised-button class="full-width" color="primary" [mat-dialog-close]="doNotShowAgain">I UNDERSTAND</button>
</mat-dialog-actions>
