<h2 mat-dialog-title>How it Works?</h2>
<mat-dialog-content>
  <p>
    Given some inputs like your initial TITANOs holdings in your wallet, desired monthly take-profit amount, slippage
    fees and taxes, this page will compute the date from which you'll be able to withdraw your preconfigured take-profit
    amount AND have enough "critical mass" of TITANOs left to be self-sustainable, every month.
  </p>
  <p>
    ⚠️NOTE⚠️ This calculation works under the assumption that TITANO price will be the pretty much constant; in
    future releases I might as well add an extra parameter to take that into account.
  </p>
  <cite>(*)<b>assuming TITANO price will NOT drop</b></cite>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close="">Close</button>
</mat-dialog-actions>
