.small-chips-main {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  .small-chips {
    display: contents !important;
  }

  .mat-select {
    margin-left: 10px;
    width: 60px;
  }

  mat-chip {
    min-height: unset;
  }

  mat-chip:first-child {
    margin-left: 10px;
  }
}

table {
  width: 100%;
}

tr.details-row {
  height: 0;
}

tr.mobile-row:not(.details-row):hover {
  background: whitesmoke;
}

tr.mobile-row:not(.details-row):active {
  background: #efefef;
}

.mobile-row td {
  border-bottom-width: 0;
}

.row-detail {
  overflow: hidden;
  display: flex;
}

.accordion-content {
  max-height: 20vh;
  overflow: auto
}
