<mat-card>
  <mat-card-title>Titano Periodic Revenue Calculator</mat-card-title>
  <mat-card-subtitle>Helps you estimate sustainable profit taking</mat-card-subtitle>
  <mat-card-content>
    <div class="description">
      <div>
        I would like to take a
        <a (click)="editProfitType()" class="property-link">{{ProfitType.toDescription(model.profitType)}}</a>
        of
        <a *ngIf="model.profitType == ProfitType.FIXED_AMOUNT" (click)="editPeriodicAmountToWithdraw()"
           class="property-link">{{model.desiredPeriodicAmountToWithdraw}}</a>
        <a *ngIf="model.profitType == ProfitType.REBASE_PERCENTAGE" (click)="editRebasesPercentageToWithdraw()"
           class="property-link">{{model.desiredPeriodicRebasePercentageToWithdraw}}%</a>
        <a *ngIf="model.profitType == ProfitType.FIXED_AMOUNT" (click)="editCurrency()"
           class="property-link">{{currency.symbol}}</a>
        every
        <a (click)="editWithdrawalPeriod()"
           class="property-link">{{WithdrawalPeriod.toStringNoun(model.withdrawalPeriod)}}</a>

        <ng-container *ngIf="model.profitType == ProfitType.REBASE_PERCENTAGE">
          , and my currency is
          <a (click)="editCurrency()" class="property-link">{{currency.symbol}}</a>
        </ng-container>
        .
      </div>
      <div>
        My wallet contains
        <a (click)="editInitialWallet()"
           class="property-link">{{model.initialCryptoCapital}} {{model.advanced.name.toUpperCase()}}</a>
        as of <a (click)="picker.open()"
                 class="property-link">{{model.startDate | date: dateFormat}}
        <input matInput class="invisible-input" [matDatepicker]="picker" [(ngModel)]="model.startDate"
               [min]="november2021">
      </a>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        , with unit price of
        <a (click)="editCryptoPrice()"
           class="property-link">{{model.cryptoPrice | numberFormat : 5}}
          {{currency.symbol}}/{{model.advanced.name.toUpperCase()}}</a>
        and I assume the Exchange slippage fee of
        <a (click)="editSlippageFee()" class="property-link">{{model.slippageFeePct}}%</a>.
      </div>
      <mat-checkbox class="example-margin" [(ngModel)]="taxesCalculationEnabled" [color]="'primary'">
        Also include my Country's taxes
      </mat-checkbox>
      <label [class]="model.countryTaxesCalculationEnabled ? 'enabled' : 'disabled'">, which amounts to
        <a (click)="editCountryTaxes()" class="property-link">{{model.countryTaxes}}%</a>
        of the <b>{{WithdrawalPeriod.toStringAdjective(model.withdrawalPeriod)}}</b> gross income.
      </label>
    </div>

    <div echarts [loading]="chartLoading" [options]="chartOption"></div>

    <blockquote class="mat-elevation-z3 quote">
      <div *ngIf="model.profitType == ProfitType.FIXED_AMOUNT">
        <b>️Assuming current {{model.advanced.name.toUpperCase()}} price:</b>️
        on {{dataSource[dataSource.length - 1].to | date: dateFormat}}
        you will have withdrawn
        {{estimatedOneYearProfit() | scaleNumber}} {{currency.symbol}}
        and still
        have {{dataSource[dataSource.length - 1].finalAmount | scaleNumber}} {{model.advanced.name.toUpperCase()}}
        (worth
        ~ {{dataSource[dataSource.length - 1].finalAmount * model.cryptoPrice | scaleNumber}} {{currency.symbol}}
        )!
        Note: click on the rows below to see the details.
        <u><a (click)="download()" class="download-sheet">Click here to download the data as Excel sheet.</a></u>
      </div>
      <div *ngIf="model.profitType == ProfitType.REBASE_PERCENTAGE">
        <b>️Assuming current {{model.advanced.name.toUpperCase()}} price:</b>️
        on {{dataSource[dataSource.length - 1].to | date: dateFormat}}
        you will have withdrawn rebases for a total grand of
        {{rebasesProfits() | scaleNumber}} {{currency.symbol}}
        and still
        have {{dataSource[dataSource.length - 1].finalAmount | scaleNumber}} {{model.advanced.name.toUpperCase()}}
        (worth
        ~ {{dataSource[dataSource.length - 1].finalAmount * model.cryptoPrice | scaleNumber}} {{currency.symbol}}
        )!
        Note: click on the rows below to see the details.
        <u><a (click)="download()" class="download-sheet">Click here to download the data as Excel sheet.</a></u>
      </div>
    </blockquote>

    <p *ngIf="titanoSettingsInUse">
      ⚠️NOTE⚠️ This site isn't affiliated in any way with TITANO.finance. Predictions presented here are not
      financial advice, and you must do your own due diligence before investing in any asset.
    </p>

    <p *ngIf="!titanoSettingsInUse" class="settings-warn">
      ⚠️You're not using the default TITANO settings⚠️
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="openHowItWorksDialog()" matTooltip="How it works">HOW IT WORKS
    </button>
    <button mat-raised-button color="warn" (click)="openAdvancedSettings()" matTooltip="Advanced settings">⚙️</button>
    <button mat-raised-button color="primary" (click)="openBuyMeABeerDialog()" matTooltip="Buy me a beer 🍺">DONATE 🍺
    </button>
  </mat-card-actions>
</mat-card>
