<h3 mat-dialog-title>{{data.title}}</h3>
<mat-dialog-content>
  <!-- single-element property -->
  <ng-container *ngIf="data.values.length == 0">
    <ng-container *ngIf="data.editorType == PropertyEditorType.STRING">
      <mat-form-field appearance="fill">
        <mat-label>{{data.label}}</mat-label>
        <input matInput type="text" [(ngModel)]="data.currentValue" [placeholder]="data.placeholder">
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="data.editorType == PropertyEditorType.NUMBER">
      <mat-form-field appearance="fill">
        <mat-label>{{data.label}}</mat-label>
        <input matInput type="number" [(ngModel)]="data.currentValue" [placeholder]="data.placeholder">
      </mat-form-field>
    </ng-container>
  </ng-container>

  <!-- property that can have at most 2 or 3 values-->
  <ng-container *ngIf="data.values.length == 2 || data.values.length == 3">
    <label>{{data.label}}</label>
    <mat-radio-group [(ngModel)]="data.currentValue" class="radio-group">
      <mat-radio-button *ngFor="let v of data.values" [value]="v"
                        class="radio-button">{{data.renderer(v)}}</mat-radio-button>
    </mat-radio-group>
  </ng-container>

  <!-- property that needs a selector -->
  <ng-container *ngIf="data.values.length > 3">
    <mat-form-field>
      <label>{{data.label}}</label>
      <mat-select class="profit-type" [(ngModel)]="data.currentValue">
        <mat-option *ngFor="let pt of data.values" [value]="pt">{{data.renderer(pt)}}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button class="full-width" [mat-dialog-close]="undefined">CANCEL</button>
  <button mat-raised-button class="full-width" color="primary"
          [mat-dialog-close]="data"
          [disabled]="data.validator !== undefined && !data.validator?.(this.data.currentValue)">APPLY
  </button>
</mat-dialog-actions>
