/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #00020B;
}

/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 960px)
and (-webkit-min-device-pixel-ratio: 1) {
  .mat-card-centered {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    align-items: center;
  }
}

/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 960px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
  .mat-card-centered {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    align-items: center;
  }
}
