/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #00020B;
}

.mat-typography {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  align-items: center;
}

input {
  width: 60px;
  height: 0;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  font-size: 14px;
}
